$peach-color: #e7816b;
$light-peach: #ffad9b;
$black-color: #1d1c1e;
$dark-grey: #333136;
$white-color: #ffffff;
$light-grey: #f1f3f5;
$main-font: "Jost", sans-serif;
//  FONTS
$h1-fs: 48px;
$h1-lh: 48px;

$h2-fs: 40px;
$h2-lh: 48px;
$h2-ls: 2px;

$h3-fs: 20px;
$h3-lh: 26px;
$h3-ls: 5px;

$body-fs: 16px;
$body-lh: 26px;
