.footer {
    background-color: $black-color;
    height: 393px;
    margin-top: -135px;  
}

.footer_tops {
    padding-top: 100px;  
    display: flex;
    align-items: center;
    gap: 445px;
    margin-top: 71px;
    margin-bottom: 70px;
 
  }
  
  .footer_sitenav_item {
    display: flex;
    gap: 40px;
    margin-left: 120px
  }
  
  .footer_sitenav_link {
    color: $white-color;    
 
  }

.line {
    width: 1110px;
    height: 1px;
    background-color: $dark-grey;
    margin-top: -5px;
    margin-bottom: 31px;
}

.footer_last_page {
    display: flex;
   gap: 230px;
}

.footer_location {
    color: $white-color;
    opacity: 0.5;
}
.footer_location_p {
width: 200px;

}
.footer_emergency {
    color: $white-color;
    opacity: 0.5;
    a {
        color: $white-color;
        opacity: 0.5;
    }
   li {
    list-style: none;
    
   }
}
.footer__social {
    ul {
        display: flex;
        gap: 16px;
        margin-top: 50px;
        cursor: pointer;
    }
}
  