@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v15-latin-500.woff2") format("woff2");
}

body {
  font-family: $main-font;
  @include fonts($body-fs, $body-lh);
}

h1 {
  @include fonts($h1-fs, $h1-lh);
}

h2 {
  @include fonts($h2-fs, $h2-lh, $h2-ls);
}

h3 {
  @include fonts($h3-fs, $h3-lh, $h3-ls);
}
