.about {
  background-image: url("../images/Oval.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 1110px;
  background-color: $peach-color;
  border-radius: 18px;
  height: 480px;
  margin-bottom: 160px;
  display: flex;
  position: relative;
  img {
    top: 19px;
    right: 30px;
    position: absolute;
  }
}

.about__text {
  margin-top: 135px;
  margin-left: 95px;
  margin-right: auto;
  color: $white-color;
  margin-left: -3px;

  h2 {
    font-weight: 400;
    margin-bottom: 32px;
  }

  img {
    margin-top: -18px;
    border-radius: 0 18px 18px 0;
    margin-right: -31px;
  }
}

.about_description {
  color: $white-color;
  width: 458px;
  margin-left: auto;
  margin-right: auto;

}

.about2 {
  background-image: url("../images/little\ oval.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 1110px;
  background-color: #fdf3f0;
  border-radius: 18px;
  height: 640px;
  margin-bottom: 160px;
  display: flex;
  position: relative;
  img {
    top: 19px;
    right: 30px;
    position: absolute;
  }
}

.about__text2 {
  margin-top: 135px;
  margin-left: auto;
  margin-right: 50px;

  h2 {
    text-align: center;
    color: $peach-color;
    font-weight: 400;
    margin-bottom: 32px;
  }

  img {
    margin-top: -19px;
    margin-right: 604px;
    border-radius: 18px 0 0 18px;
  }
}

.about_description2 {
  color: $black-color;
  height: 260px;
  width: 445px;
  margin-left: auto;
  &:hover {
    color: $black-color;
  }
}


.about_sitenav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  align-items: center;

  h3 {
    margin-top: 48px;
    margin-bottom: 32px;
    text-align: center;
  }
}
.about__sitenav_list {
  margin-bottom: 160px;
}

.about3 {
  background-image: url("../images/little\ oval.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 1110px;
  background-color: #fdf3f0;
  border-radius: 18px;
  height: 640px;
  margin-bottom: 160px;
  margin-top: -140px;
  display: flex;
  position: relative;
  img {
    top: 19px;
    left: 640px;
    position: absolute;
  }
}

.about__text3 {
  margin-top: 135px;
  margin-right: auto;
  margin-right: 50px;
  margin-left: 20px;
  h2 {
    text-align: center;
    color: $peach-color;
    font-weight: 400;
    margin-bottom: 32px;
  }

  img {
    margin-top: -19px;
    margin-right: 604px;
    border-radius: 0 18px 18px 0;
  }
}

.about_description3 {
  color: $black-color;
  height: 260px;
  width: 445px;
  margin-left: auto;

  &:hover{
    color: $black-color;
  }
}
